* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#calculator {
    height: 600px;

}